<div class="d-flex justify-content-end align-items-center bg-light px-4 py-2 border-bottom shadow-sm"
    style="position: sticky; top: 0; z-index: 1000;">
    <span class="me-3 fw-semibold text-primary">
        Bienvenido, {{ nombreUsuarioLogueado }}
    </span>

    <button class="btn btn-outline-primary btn-sm d-flex align-items-center gap-1 me-2" (click)="volverAlMenu()">
        <i class="bi bi-arrow-left-circle"></i> Menú
    </button>

    <button class="btn btn-outline-danger btn-sm d-flex align-items-center gap-1" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Cerrar sesión
    </button>
</div>

<div class="container">
    <h2>Continuar Historia Clínica</h2>

    <input type="text" id="buscadorHistorias" class="form-control search-bar"
        placeholder="Buscar por nombre del paciente o CURP" [(ngModel)]="filtroPacientes" name="filtroPacientes">

    <div *ngIf="cargandoPacientes" class="text-center text-muted py-4">
        Cargando pacientes...
    </div>

    <div class="table-responsive" *ngIf="!cargandoPacientes">
        <table class="table table-bordered align-middle" id="tablaHistorias">
            <thead>
                <tr>
                    <th>Nombre del Paciente</th>
                    <th>CURP</th>
                    <th>Tipo De HC</th>
                    <th>Estatus</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hc of historiasFiltradas">
                    <td>{{ hc.paciente?.nombrePaciente }}</td>
                    <td>{{ hc.paciente?.curp }}</td>
                    <td>{{ hc.tipoHistoriaClinica?.descripcion }}</td>
                    <td>{{ hc.estatusHistoriaClinica?.descripcion }}</td>
                    <td>
                        <button *ngIf="hc.estatusHistoriaClinica?.clave == 'BORRADOR' ||  hc.estatusHistoriaClinica?.clave === 'RECHAZADA'"
                            class="btn btn-continuar btn-sm" type="button" (click)="continuarHistoria(hc)">
                            Continuar
                        </button>
                        
                        <button *ngIf="puedeCrearNuevaHC(hc)" class="btn btn-success btn-sm" (click)="crearNuevaHC(hc)">
                            ➕ Nueva HC
                        </button>
                        </td>
                        </tr>
                        </tbody>
        </table>
    </div>
</div>
